
#todo { 

    background-image: url(/back2.webp);
   background-repeat: no-repeat;
   background-size: cover;

}

body {
    font-family: 'Montserrat', sans-serif;
}

.titulo, .cuadro {
    padding-left: 1em;
}

#cuadro, #cuadro2, #encriptar, #desencriptar {
    border-radius: 13px;
}

.titulo {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 1em;
    display: inline-block;
    color: azure;
}

.cuadritos {
    display: flex;
    justify-content: space-between;
}

.cuadro {
    display: inline-block;
    width: 55%;
    margin-right: 20%;
}

.form1 {
    display: inline-block;
    width: 55%;
}

#cuadro {
    padding-bottom: 35%;
    width: 20cm;
    background-color: #9E9E9E;
    opacity: 40%;
}

#mensaje {
    line-height: 150%;
    padding: 5px;
}

#imagen {
    height: 16px;
}

.botones {
    text-align: center;
    width: 20cm;
    margin-top: 1em;
    
}

#encriptar, #desencriptar {
 width: 7cm;
 display: inline-block;
 padding: 10px;
 background-color: #615E5E;
 font-family: 'Montserrat', sans-serif;
 

}

/* Para el formulario2 */

.form2{
    display: inline-block;
    width: 45%;
}

.cuadro2 {
    display: inline-block;
    padding-right: 22px;

}

#cuadro2 {
    width: 10cm;
    padding-bottom: 16cm;
    background-image: url(stars.png);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: #9E9E9E;
    opacity: 40%;
}

textarea {
    resize: none;
}
